bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.6.17
charset-normalizer==3.4.7
Eel==0.18.2
future==1.0.0
gevent==26.5.0
gevent-websocket==0.10.1
greenlet==3.5.2
idna==3.18
importlib_resources==7.1.0
packaging==26.2
proxy_tools==0.1.0
pyparsing==3.3.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.1
PyQt6_sip==13.11.1
pywebview==6.2.1
QtPy==2.4.3
requests==2.34.2
typing_extensions==4.15.0
urllib3==2.7.0
zope.event==6.2
zope.interface==8.5
